{% extends 'main/layout.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <div class="features">
        <h1>Погодное приложения</h1>
        <ul class="wide">
            <a href="#"><li><button class="btn btn-info"><i class="fas fa-plus-circle"></i>Галерея</button></li></a>
        </ul>
    {% load static %}

    <ul class="gallery clip">

        <li>

            <img src="{% static 'main/img/123.jpg' %}" alt="картинка">
            <img src="{% static 'main/img/1234.jpg' %}" alt="картинка">
            <img src="{% static 'main/img/12345.jpg' %}" alt="картинка">

        </li>

    </ul>

    </div>
{% endblock %}