{% extends 'main/layout.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <div class="features">
        <h1>Главная страница</h1>
        <p>
            Lora ipsum dolor sit amat, consectetur adipisicing elit. Aspernatur deleniti
            doloribus
        </p>
        <button class="btn btn-warning">на стронице про нас</button>
    </div>



    <div class="container mt-5" >
        <div class="row">
            <div class="col-5 offset-1">
             <h2>Погода в вашем городе</h2>
             <form action="">
                    <label for="city">Город</label>
                    <input type="text" id="city" name="city" class="form-control" placeholder="Ведите город">
                    <input type="submit" name="send" value="Узнать" class="mt-2 btn btn-danger">
                </form>

            </div>
             <div class="col-3 offset-1">
                <h2>Информация</h2>
                 <div class="wide">
                 <div class="alert alert-danger">
                     Погода в городе
                 </div>
                 </div>
            </div>
        </div>
    </div>


{% endblock %}